In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Esperance,AU,2022-03-27 01:46:43,-33.8667,121.9000,66.04,83,100,17.58
1,1,Kavaratti,IN,2022-03-27 01:46:43,10.5669,72.6420,82.27,70,11,2.93
2,2,Hamilton,US,2022-03-27 01:46:44,39.1834,-84.5333,33.75,65,40,16.11
3,3,Coquimbo,CL,2022-03-27 01:45:33,-29.9533,-71.3436,62.26,83,4,2.21
4,4,Albany,US,2022-03-27 01:42:29,42.6001,-73.9662,39.25,91,90,5.64

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = temps
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kavaratti,IN,2022-03-27 01:46:43,10.5669,72.6420,82.27,70,11,2.93
8,8,Yulara,AU,2022-03-27 01:46:45,-25.2406,130.9889,82.24,17,3,11.50
13,13,Avarua,CK,2022-03-27 01:46:47,-21.2078,-159.7750,80.65,83,75,8.05
14,14,Alofi,NU,2022-03-27 01:46:47,-19.0595,-169.9187,82.29,83,94,10.36
16,16,Rikitea,PF,2022-03-27 01:46:48,-23.1203,-134.9692,79.63,70,0,12.64
19,19,Bousso,TD,2022-03-27 01:46:49,10.4795,16.7117,80.26,11,92,10.56
24,24,Tura,IN,2022-03-27 01:46:51,25.5198,90.2201,77.04,65,0,2.53
25,25,Vila Velha,BR,2022-03-27 01:44:15,-20.3297,-40.2925,78.94,85,20,9.22
26,26,Kapaa,US,2022-03-27 01:46:52,22.0752,-159.3190,82.38,62,0,17.27
32,32,Labuhan,ID,2022-03-27 01:46:54,-6.8844,112.2051,82.65,70,69,4.61

In [12]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1    Kavaratti      IN     82.27  10.5669   72.6420
8       Yulara      AU     82.24 -25.2406  130.9889
13      Avarua      CK     80.65 -21.2078 -159.7750
14       Alofi      NU     82.29 -19.0595 -169.9187
16     Rikitea      PF     79.63 -23.1203 -134.9692
19      Bousso      TD     80.26  10.4795   16.7117
24        Tura      IN     77.04  25.5198   90.2201
25  Vila Velha      BR     78.94 -20.3297  -40.2925
26       Kapaa      US     82.38  22.0752 -159.3190
32     Labuhan      ID     82.65  -6.8844  112.2051

In [14]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kavaratti,IN,82.27,10.5669,72.6420,Hotels in Lakshadweep Islands
8,Yulara,AU,82.24,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
13,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
14,Alofi,NU,82.29,-19.0595,-169.9187,Taloa Heights
16,Rikitea,PF,79.63,-23.1203,-134.9692,People ThankYou

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))